.body {
  background-color: #ffbb00;
}

motion.path {
  filter: drop-shadow(0 0 6px #32fbe2);
}

.icon {
  border: 1px solid #e2f8fa;
  transition: transform 0.25s ease, border 0.1s ease;
  transform: scale(1);
}

.icon:hover {
  transform: scale(1.1);
  border: none;
  background-color: #ffea00;
  box-shadow:0px 1px 25px -5px #fff176;
  color: #292929;
}

.icon-hover {
  transform: scale(1.1);
  border: none;
  background-color: #ffea00;
  box-shadow:0px 1px 25px -5px #fff176;
  color: #292929;
}