.animation {
  border: dashed rgb(33, 32, 32);
  border-width: 0px 1px 0px 1px;
}

#link-0, #heading-0 {
  color: #32bef2;
}

#link-1, #heading-1 {
  color: #a66cff;
}

#link-2, #heading-2 {
  color: #d58936;
}

.carousel h1 {
  line-height: 65px;
}

.carousel h4 {
  line-height: 28px;
}

.icon {
  border: 1px solid #e2f8fa;
  transition: transform 0.25s ease, border 0.1s ease;
  transform: scale(1);
}

.icon:hover {
  transform: scale(1.1);
  border: none;
  background-color: #ffea00;
  box-shadow:0px 1px 25px -5px #fff176;
  color: #292929;
}

.icon-hover {
  transform: scale(1.1);
  border: none;
  background-color: #ffea00;
  box-shadow:0px 1px 25px -5px #fff176;
  color: #292929;
}